<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>    
    <link rel="stylesheet" href="/Content/mvcfileupload/vendor/bootstrap.min.css">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script> 
    <script type="text/javascript" src="/Scripts/mvcfileupload/vendor/bootstrap.min.js"></script>  
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="navbar-brand" href="#">Mvc File Uploader</a>
        </div>
      </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
    @RenderSection("Scripts", false)
</body>
</html>